
@model vue_mvc.Models.BindingModel
@using Newtonsoft.Json

<h2>TestPage on model @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<p>MVC model binding test</p>
<div id=f4App></div>


<script> window.serverdata = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))')</script>

<script src="~/vuejs/js/chunk-vendors.js"></script>
<script src="~/vuejs/feature4.js"></script>